<div class="form">
  <form class="fullform" (submit)="onSubmit($event)">
    <h2>Form</h2>
    <div class="form-group">
      <label for="FirstName ">FirstName </label>
      <input type="text" id="FirstName" name="FirstName" required />
    </div>
    <br />
    <div class="form-group">
      <label for="LastName ">LastName </label>
      <input type="text" id="LastName" name="LastName" required />
    </div>
    <br />
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <br />
    <div class="form-group">
      <label for="number">Phone Number</label>
      <input type="number" id="number" name="phoneNumber" required />
    </div>
    <br />
    <div class="form-group">
      <label for="City">City </label>
      <input type="City" id="City" name="City" required />
    </div>
    <br />
    <div class="form-group">
      <label for="Country">Country </label>
      <input type="Country" id="Country" name="Country" required />
    </div>
    <br />

    <button type="submit">Submit</button>
  </form>
</div>

<h2 style="text-align: center;">Customer List</h2>
<div class="allcard">
  @for (customer of customers; track customer.Email) {
  <div class="card">
    <h2>First Name : {{ customer.FirstName }}</h2>
    <h3>LastName : {{ customer.LastName }}</h3>
    <p>Email : {{ customer.Email }}</p>
    <p>PhoneNumber : {{ customer.PhoneNumber }}</p>
    <p>City: {{ customer.City }}</p>
    <p>Country: {{ customer.Country }}</p>
  </div>

  }
</div>

